<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pago Exitoso</title>
</head>

<body>
    <!-- Incluir la Sidebar -->
    <div class="col-auto">
        <%- include('./partials/sidebar.ejs') %>
    </div>
    <h1>¡Pago Exitoso!</h1>
    <p>Gracias por tu pago, tu suscripción ha sido activada.</p>
    <p>Detalles del pago:</p>
    <ul>
        <li><strong>ID de pago:</strong>
            <%= pago.id %>
        </li>
        <li><strong>Fecha del pago:</strong>
            <%= pago.fechapago %>
        </li>
        <li><strong>Estado del pago:</strong>
            <%= pago.estado %>
        </li>
        <li><strong>Usuario:</strong>
            <%= user.nombre %>
        </li>
    </ul>
    <p>Ahora tienes una cuenta premium y acceso completo a nuestros servicios.</p>
</body>

</html>